:root {
  --color-primary: #4f46e5;
  --color-secondary: #14b8a6;
  --color-background: #ffffff;
  --color-text: #111214;

  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;

  --font-family-base: 'Inter', sans-serif;
  --font-size-base: 16px;
  --font-size-heading: 32px;
}

[data-theme='dark'] {
  --color-primary: #8472f6;
  --color-background: #111114;
  --color-text: #f2f3f6;
}
